#grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#article {
    border: 1px solid powderblue;
}
body {
    background-image: url(backgroud.jpg);
}
a {
    text-decoration: none;
    color:powderblue;
}
h1 {
    text-align: center;
    font-size: 90px;
    margin-bottom: 20px;
    color:powderblue;
}
h2 {
    margin: 0;
    padding: 20px;
    padding-bottom:0;
    color:powderblue;
}
ol {
    border: 1px solid powderblue;
    margin: 0;
    border-right: 0;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0;
    color:powderblue;
}
p {
    margin: 0;
    padding: 20px;
    padding-top: 0;
    color:powderblue;
}
li {
    padding-bottom: 5px;
}
img {
    padding: 20px;
    padding-bottom: 0;
}
@media(max-width: 575px) {
    #grid {
        display: block;
    }
    #article {
        display: block;
        border:0;
    }
    ol {
        border:0;
    }
}